/*.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
*/

html {
  height: 100%;
}

body {
  font-family: Nunito, sans-serif;
  background-image: linear-gradient(
    to left bottom,
  #0066ff,
  #0096ff, 
  #00b3e7, 
  #00c8bc,
  #8cd6a6);
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#Recipe {
  position: absolute;
  left: 0%;
  right: 0%;
  background: #FFFFFF;
  border: 1px solid #C4C4C4;
  box-sizing: border-box;
}

#rName {
  position: absolute;
  /* h1/Regular 38px */
  font-size: 38px;
  line-height: 45px;
  /* identical to box height */

  /* #333333 - Dark Grey */
  color: #333333;
}

#foodFacts {
  margin-top: 60px;
  /* margin-right: 60em; */
  border: 1px solid #D4D4D4;
  box-sizing: border-box;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  display: inline-block;
  float: left;
}

#ingredients {
  margin-top: 60px;
  display: inline-block;
  float: left;
}

#ingredients ul {
  -moz-column-count: 2;
  -moz-column-gap: 30px;
  -webkit-column-count: 2;
  -webkit-column-gap: 30px;
  column-count: 2;
  column-gap: 30px;

  border: 1px solid #D4D4D4;
  box-sizing: border-box;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  margin-top: 20px;
}

#instructions {
  margin-top: 60px;
  border: 1px solid #D4D4D4;
  box-sizing: border-box;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  display: inline-block;
}

/* Colors */
/*
dark blue: #476A6F
light blue: #258EA6
dark green: #519E8A
medium green: #7EB09B
light green: #A3C4BC
*/

.heading {
  color: white;
  /* text-shadow: 2px 3px 5px rgba(0,0,0,0.5); */
  /* text-shadow: 0px 0px 6px rgba(255,255,255,0.7); */
  text-shadow: 2px 4px 4px rgba(0,0,0,0.2),
              0px -5px 10px rgba(255,255,255,0.15);
}

.box {
  border-radius: .75rem;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
    to left bottom,
  #0066ff,
  #0096ff, 
  #00b3e7, 
  #00c8bc,
  #8cd6a6);
}

.meal {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #258ea6;
}

.form-wrapper {
  width: 400px;
  display: flex;
  flex-direction: column;
  padding: 20px 40px;
  border-radius: 10px;
  box-shadow: 0px 10px 50px #555;
  background-color: #ffffff;
  position: fixed; /* or absolute */
  top: 25%;
}

.food-wrapper {
  width: 800px;
  display: flex;
  flex-direction: column;
  padding: 20px 40px;
  border-radius: 10px;
  box-shadow: 0px 10px 50px #555;
  background-color: #ffffff;
}

#image {
  width: 35%;
  height: auto;
  float:right;
}

form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

h1 {
  text-align: center;
  width: 100%;
  color: #111;
}

label {
  font-size: 0.8em;
  margin-bottom: 0.25em;
  color: #222;
}

input {
  padding: 10px 10px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #cfcfcf;
}

input::placeholder {
  font-size: 1.2em;
  font-weight: lighter;
  color: #999;
}

input.error {
  border: 1px solid red;
}

.errorMessage {
  color: red;
  font-size: 0.75em;
  display: relative;
}

.firstName {
  margin-right: 1%;
}

.lastName {
  margin-left: 1%;
}

.firstName,
.lastName,
.email,
.password {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.firstName,
.lastName {
  width: 49%;
}

.email,
.password {
  width: 100%;
}

.createAccount {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.createAccount button {
  background-color: #519e8a;
  color: #fff;
  border: 2px solid #fff;
  width: 100%;
  margin-top: 1em;
  padding: 8px 0px;
  font-size: 1em;
  font-weight: lighter;
  letter-spacing: 1px;
  margin-bottom: 0.25em;
}

.createAccount button:hover {
  color: #519e8a;
  background-color: #fff;
  border: 2px solid #519e8a;
}

.createAccount small {
  color: #999;
  font-weight: lighter;
}